.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}

.linethrough {
    text-decoration: line-through;
}

.smallcaps {
    font-variant:small-caps;
} 

.santa_clara_text_editor { 
    position: relative;
    /*height: 30em;*/
    width: 100%;
    border: 1px solid #000000;
    font-size: 12pt;
}

.santa_clara_text_editor_box {
    margin: 1em;
    margin-top: 2em;
    box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    -webkit-box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    -moz-box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    padding: 1em;
    padding-top: 2em;
    /*width: 60em;*/
}

.santa_clara_text_editor_button_simple,
.santa_clara_text_editor_button_single,
.santa_clara_text_editor_button_function {
    box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    -webkit-box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    -moz-box-shadow: -5px 2px 5px -5px rgb(96,96,96), 5px 2px 5px -5px rgb(96,96,96);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: .5em;
    padding-right: .5em;
    min-width: 1.5em;
}

.santa_clara_text_editor_button_bar {
    padding-bottom: 1em;
}

.santa_clara_text_editor_modified {
    background: rgba(102,163,210,0.50);
}

.santa_clara_text_editor_button_bar a {
    border: 1px solid #000;
    background: url('../img/nav-bg.gif') repeat-x scroll center bottom #FFF;
    height: 100%;
    padding-left: .4em;
    padding-right: .4em;
    margin: 0;
    margin-left: .1em;
    margin-right: .1em;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    position: relative;
}

.santa_clara_text_editor_button_bar .tooltip {
    display: none;
    padding: .5em;
    position: absolute;
    bottom: 2em;
    left: 0px;
    font-size: 80%;
    color: #fff;
    background: url('../img/default-bg.gif') repeat-x scroll center bottom #7CA0C7;
}

.santa_clara_text_editor_button_bar a:hover .tooltip {
    display: inline-block;
    z-index: 100;
}

.santa_clara_text_editor_button_bar a:hover,
.santa_clara_text_editor_button_bar a:active {
    border: 1px solid #5B80B2;
    background: url('../img/default-bg.gif') repeat-x scroll center bottom #7CA0C7;
    font-weight: bold;
    color: #FFF;
}
